:root {
	--color-white: #ffffff;
	--color-mistyrose: #EEEEEE;
	--color-black: #000000;
	--color-mediumblack: #666666;
	--color-dimgray: #A9A9A9;
	--color-darkgrey: #333333;
	--color-grey: #F2F2F2;
	--color-aimgrey: #EBEBEB;
	--color-focusgrey: #E5E5E5;
	--color-blue: #81B3D2;
	--color-aimblue: #669EC0;
	--color-pressblue: #5496BD;
	--color-brown: #766357;
	--color-aimbrown: #604E43;
	--color-pressbrown: #503E33;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

body {
	background-color: var(--color-grey);
	font-family: "PT Sans", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0;
	color: var(--color-darkgrey);
}

img {
	max-width: 100%;
	height: auto;
}

.main-nav {
	background-color: var(--color-white);
	display: flex;
}

.nav-list {
	width: 100%;
	height: 56px;
	list-style: none;
	margin: 0 auto;
	padding-left: 0;
	display: flex;
	justify-content: space-around;
	z-index: 1;
}

.nav-list li {
	margin: auto 0;
}

.nav-list a {
	font-weight: 700;
	color: var(--color-black);
	text-decoration: none;
	line-height: 26px;
}
.nav-list a:hover, .nav-list a:focus {
	color: var(--color-darkgrey);
}


/*     Main content    */


.main {
	display: flex;
	justify-content: center;
	color: var(--color-black);
	background-color: var(--color-grey);
}

.main-wrapper {
	background-color: var(--color-white);
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
	width: 1200px;
}

.main-img {
	background-image: url("../img/background photo.jpg");
	background-repeat: no-repeat;
	height: 509px;
	position: relative;
}

.img-sedona {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -175px;
	margin-left: -228px;
}

.decor-img {
	background-image: url("../img/Shape.png");
	background-repeat: no-repeat;
	width: 1200px;
	height: 57px;
	position: absolute;
	bottom: 0;
}

.main-caption {
	line-height: 26px;
	text-align: center;
	margin-top: 43px;
	margin-bottom: 53px;
}

.main-caption h1 {
	font-size: 21px;
	font-weight: 700;
	color: var(--color-black);
	margin: 0;
	margin-bottom: 43px;
}

.main-caption p {
	margin: 0;
}


/* Advantages container */


.advantages-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 256px 330px 256px 256px;
}

.advantage-img {
	grid-column: span 2;
}

.advantages-list li {
	text-align: center;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantage-title, .benefit-title {
	font-size: 21px;
	line-height: 100%;
	margin: 0;
	margin-bottom: 30px;
}

.benefit-title {
	margin-top: 75px;
	position: relative;
}

.benefit-housing::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 72px;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	top: -100px;
	left: 50%;
	margin-left: -38px;
}

.benefit-food::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 70px;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	top: -100px;
	left: 50%;
	margin-left: -40px;
}

.benefit-souvenirs::before {
	content: "";
	position: absolute;
	width: 64px;
	height: 77px;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	top: -105px;
	left: 50%;
	margin-left: -32px;
}


.advantage-description {
	margin: 0;
} 

.important {
	background-color: var(--color-blue);
	color: var(--color-white);
	padding-left: 50px;
	padding-right: 50px;
}

.feature-item {
	background-color: var(--color-mistyrose);
	padding-right: 68px;
	padding-left: 68px;
}

.number {
	margin-bottom: 30px;
}


/* Search */


.search-holder {
	background-color: var(--color-white);
	line-height: 24px;
}

.search-wrapper {
	text-align: center;
}

.search-title {
	font-size: 30px;
	margin: 0;
	margin-top: 58px;
	margin-bottom: 38px;
}

.search-description {
	margin: 0;
	margin-bottom: 50px;
}

.button {
	font: inherit;
	text-transform: inherit;
	text-decoration: none;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	color: var(--color-white);
	border: none;
	text-align: center;
	vertical-align: middle;
}

.button {
	cursor: pointer;
}

.button-hotels {
	background-color: var(--color-brown);
	height: 86px;
	min-width: 568px;
}

.button-hotels:hover {
	background-color: var(--color-aimbrown);
}

.button-hotels:active {
	background-color: var(--color-pressbrown);
	outline: 0;
	color: rgba(255,255,255, 0.3);
}


/* search container */


.button-search {
	background-color: var(--color-blue);
}

.button-search:hover {
	background-color: var(--color-aimblue);
}

.button-search:active {
	background-color: var(--color-pressblue);
	outline: 0;
	color: rgba(255,255,255, 0.3);
}

/* Search form */

.img-form-wrapper {
	position: relative;
}

.search-form {
	background-color: var(--color-white);
	line-height: 26px;
	width: 568px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 55px;
}

.search-filter {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 30px;
	align-items: center;
}

.arrival-date, .departure-date {
	grid-column: span 3;
	position: relative;
	background-image: url("../img/calendar.svg");
	background-repeat: no-repeat;
	background-position: right 8px top 7px;
}

.label-children {
	margin-left: 53px;
}

.search-filter label {
	color: var(--color-black);
	font-weight: 700;
}

.search-filter input {
	font: transparent;
	font-weight: 700;
	background-color: var(--color-grey);
	border: 0;
	text-transform: inherit;
	line-height: 38px;
	padding: 0 12px;
}

.search-filter input::placeholder {
	color: var(--color-black);
}

.search-filter input:hover {
	background-color: var(--color-aimgrey);
}

.search-filter input:focus {
	background-color: var(--color-white);
	outline: 2px solid var(--color-focusgrey);
	outline-offset: -2px;
}

.button-filter {
	grid-column: span 4;
	font-family: "PT Sans", sans-serif;
	line-height: 58px;
	margin-top: 24px;
}

.map {
	display: block;
}


/*--------- Footer -----------*/


.main-footer {
	position: relative;
	margin-top: -114px;
	background-color: rgba(255, 255, 255, 0.9);
}

.footer-wrapper {
	line-height: 26px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 26px;
	padding-bottom: 26px;
}

.contacts {
	font-size: 21px;
	font-weight: 700;
	color: var(--color-black);
	text-align: center;
}

.hashtag {
	margin: 0;
	margin-bottom: 10px;
}

.telephone {
	margin: 0;
}

/* Social button */

.social-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.social-item {
	margin-left: 6px;
	font-size: 0;
	line-height: normal;
}

.social-item:first-child {
	margin-left: 0;
}

.social-button {
	display: inline-flex;
	background-color: var(--color-blue);
}

.social-button:hover {
	background-color: var(--color-aimblue);
}

.social-button:active {
	background-color: var(--color-pressblue);
}

.social-icon {
	background-repeat: no-repeat;
	background-position: center center;
}

.social-icon:active {
	opacity: 0.3;
}

.twitter {
	background-image: url("../img/twitter.svg");
	padding: 16px 14px 15px 15px;
	width: 17px;
	height: 17px;
}

.facebook {
	background-image: url("../img/facebook.svg");
	padding: 13px 17px;
	width: 12px;
	height: 22px;
}

.youtube {
	background-image: url("../img/youtube.svg");
	padding: 16px 13px;
	width: 20px;
	height: 16px;
}

/* Developer */

.developer {
	display: flex;
	align-items: center;
	color: var(--color-black);
	text-decoration: none;
}

.developer p {
	margin: 0;
	margin-right: 8px;
}

.developer svg:hover {
	fill: var(--color-blue);
}

.developer svg:active {
	fill: #BDBBBC;
}

/*--------- Hotels page -------*/


.main-filter {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	font-weight: 700;
	color: var(--color-white);
	padding: 28px 70px;
	height: 217px;
	box-sizing: border-box;
}

.form-wrapper {
	display: flex;
	justify-content: start;
}

.filter-fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.filter-fieldset legend {
	font-size: 16px;
}

.filter-housing {
	margin-left: 119px;
}

.filter-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.filter-list li {
	margin-top: 25px;
	position: relative;
}

.filter-list label {
	font-weight: 400;
}

.filter-list label:hover {
	cursor: pointer;
}

.filter-list .check {
	padding-left: 43px;
}

.check-input {
	position: absolute;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.check-box {
	position: absolute;
	width: 23px;
	height: 23px;
	background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='white'/%3E%3C/svg%3E%0A");
	background-size: 100%;
	margin-left: -43px;
	top: 50%;
	margin-top: -13px;
}

.check-input:checked + .check-box {
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
}

.check-input:disabled + .check-box {
	background-image: url("../img/checkbox-offdis.svg");
}

.check-input:checked:disabled + .check-box {
	background-image: url("../img/checkbox-ondis.svg");
}

/* Filter cost */

.filter-cost {
	margin-left: auto;
	width: 317px;
}

.range-wrapper {
	margin-top: 12px;
	border: 2px solid var(--color-white);
	border-radius: 2px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
}

.range-wrapper .start-cost {
	border-right: 2px solid var(--color-white);
	box-sizing: border-box;
}

.range-wrapper input {
	padding: 0;
	border: 0;
	display: block;
    width: 50%;
    float: left;
    background-color: inherit;
    text-align: center;
	text-transform: uppercase;
	color: var(--color-white);
	line-height: inherit;
	font-size: inherit;
}

.range-wrapper input::placeholder {
	color: var(--color-white);
}

.range-wrapper input:focus {
	outline: 0;
}

.toggle-wrapper {
	padding-top: 20px;
	padding-bottom: 33px;
}

.toggle-basic {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
	padding: 0 10px;
}
.toggle-active {
	height: 2px;
	width: 62%;
	background: var(--color-white);
	position: relative;
}

.toggle-active .switch {
	height: 4px;
	width: 4px;
	border-radius: 50%;
	background-color: #ABABAB;
	border: 8px solid var(--color-white);
	box-shadow: 0 2px 0px 0px rgba(171, 171, 171, 0.3);
	position: absolute;
	cursor: pointer;
	top: -10px;
}

.toggle-active .switch:hover {
	border: 10px solid var(--color-white);
	top: -12px;
}

.toggle-active .min-switch {
	left: -10px;
}

.toggle-active .min-switch:hover {
	left: -12px;
}

.toggle-active .max-switch {
	right: -10px;
}

.toggle-active .max-switch:hover {
	right: -12px;
}

.button-show {
	background-color: transparent;
	font-weight: 400;
	font-size: 14px;
	border: 2px solid var(--color-white);
	border-radius: 2px;
	line-height: inherit;
	padding: 5px 34px 6px;
	display: block;
	margin: 0 auto;
}

.button-show:hover {
	background-color: var(--color-white);
	color: var(--color-black);
}


/* Hotel options */

.found {
	font-size: 12px;
	border-bottom: 1px solid var(--color-focusgrey);
}

.found-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 73px;
	padding-right: 73px;
	min-height: 86px;
	vertical-align: middle;

}

.found-list li {
	line-height: 18px;
}

.found-title {
	margin: 0;
	font-size: 21px;
	line-height: 26px;
	margin-right: 46px;
}

.sorting {
	margin: 0;
	margin-right: 40px;
}

.buttom-item {
	margin-right: 32px;
}

.sorting-button {
	background-color: inherit;
	padding: 0;
	border: 0;
	text-transform: uppercase;
	line-height: 17px;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted var(--color-blue);
}

.sorting-button:hover {
	cursor: pointer;
}

.active-button {
	color: var(--color-blue);
	border: 0;
}

.sorting-triangle {
	margin-left: auto;
	margin-right: 12px;
}

li .triangle {
	border-bottom: 0;
}


/* Hotels list */


.hotels-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotel-item {
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 73px;
	padding-left: 73px;
	flex-direction: row;
	vertical-align: middle;
	border-bottom: 1px solid var(--color-focusgrey);
}

.hotel-item img {
	display: block;
}

.hotel-info {
	margin-left: 29px;
}

.hotel-link {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

.hotel-title {
	margin: 0;
	margin-bottom: 7px;
	font-size: 21px;
	line-height: 26px;
}

.hotel-info .type-wrapper {
	display: grid;
	grid-template-columns: 110px 142px;
	column-gap: 6px;
}

.hotel-type {
	margin: 0;
	margin-bottom: 14px;
}

.hotel-type span {
	margin-left: 35px;
}

.button-card {
	font-size: 14px;
	line-height: 21px;
	padding: 3px 17px 3px 16px;
	height: auto;
}

.rating-wrapper {
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.rating-wrapper .rating {
	background-color: var(--color-grey);
	padding: 3px 12px 3px 15px;
	margin: 0;
	color: var(--color-mediumblack);
}

.rating-wrapper .stars {
	display: flex;
}

.rating-wrapper .stars img {
	margin-left: 5px;
}