:root {
	--color-white: #ffffff;
	--color-mistyrose: #EEEEEE;
	--color-black: #000000;
	--color-dimgray: #A9A9A9;
	--color-darkgrey: #333333;
	--color-grey: #F2F2F2;
	--color-aimgrey: #EBEBEB;
	--color-focusgrey: #E5E5E5;
	--color-blue: #81B3D2;
	--color-aimblue: #669EC0;
	--color-pressblue: #5496BD;
	--color-brown: #766357;
	--color-aimbrown: #604E43;
	--color-pressbrown: #503E33;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

body {
	background-color: var(--color-grey);
	font-family: "PT Sans", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0;
	color: var(--color-darkgrey);
}

img {
	max-width: 100%;
	height: auto;
}

.main-nav {
	background-color: var(--color-white);
	display: flex;
}

.nav-list {
	width: 100%;
	height: 56px;
	list-style: none;
	margin: 0 auto;
	padding-left: 0;
	display: flex;
	justify-content: space-around;
	z-index: 1;
}

.nav-list li {
	margin: auto 0;
}

.nav-list a {
	font-weight: 700;
	color: var(--color-black);
	text-decoration: none;
	line-height: 26px;
}
.nav-list a:hover, .nav-list a:focus {
	color: var(--color-darkgrey);
}


/*     Main content    */


.main {
	display: flex;
	justify-content: center;
	color: var(--color-black);
	background-color: var(--color-grey);
}

.main-wrapper {
	background-color: var(--color-white);
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
	width: 1200px;
}

.main-img {
	background-image: url("../img/background photo.jpg");
	background-repeat: no-repeat;
	height: 509px;
	position: relative;
}

.img-sedona {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -175px;
	margin-left: -228px;
}

.decor-img {
	background-image: url("../img/Shape.png");
	background-repeat: no-repeat;
	width: 1200px;
	height: 57px;
	position: absolute;
	bottom: 0;
}

.main-caption {
	line-height: 26px;
	text-align: center;
	margin-top: 43px;
	margin-bottom: 53px;
}

.main-caption h1 {
	font-size: 21px;
	font-weight: 700;
	color: var(--color-black);
	margin: 0;
	margin-bottom: 43px;
}

.main-caption p {
	margin: 0;
}


/* Advantages container */


.advantages-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 256px 330px 256px 256px;
}

.advantage-img {
	grid-column: span 2;
}

.advantages-list li {
	text-align: center;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantage-title, .benefit-title {
	font-size: 21px;
	line-height: 100%;
	margin: 0;
	margin-bottom: 30px;
}

.benefit-title {
	margin-top: 75px;
	position: relative;
}

.benefit-housing::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 72px;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	top: -100px;
	left: 50%;
	margin-left: -38px;
}

.benefit-food::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 70px;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	top: -100px;
	left: 50%;
	margin-left: -40px;
}

.benefit-souvenirs::before {
	content: "";
	position: absolute;
	width: 64px;
	height: 77px;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	top: -105px;
	left: 50%;
	margin-left: -32px;
}


.advantage-description {
	margin: 0;
} 

.important {
	background-color: var(--color-blue);
	color: var(--color-white);
	padding-left: 50px;
	padding-right: 50px;
}

.feature-item {
	background-color: var(--color-mistyrose);
	padding-right: 68px;
	padding-left: 68px;
}

.number {
	margin-bottom: 30px;
}


/* Search */


.search-holder {
	background-color: var(--color-white);
	line-height: 24px;
}

.search-wrapper {
	text-align: center;
}

.search-title {
	font-size: 30px;
	margin: 0;
	margin-top: 58px;
	margin-bottom: 38px;
}

.search-description {
	margin: 0;
	margin-bottom: 50px;
}

.button {
	font: inherit;
	text-transform: inherit;
	text-decoration: none;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	color: var(--color-white);
	border: none;
	text-align: center;
	vertical-align: middle;
}

.button-hotels {
	background-color: var(--color-brown);
	height: 86px;
	min-width: 568px;
}

.button-hotels:hover {
	background-color: var(--color-aimbrown);
}

.button-hotels:active {
	background-color: var(--color-pressbrown);
	outline: 0;
	color: rgba(255,255,255, 0.3);
}

.button-search {
	background-color: var(--color-blue);
}

.button-search:hover {
	background-color: var(--color-aimblue);
}

.button-search:active {
	background-color: var(--color-pressblue);
	outline: 0;
	color: rgba(255,255,255, 0.3);
}

.search-hotel {
	background-color: var(--color-white);
	line-height: 26px;
	max-width: 568px;
}

.search-hotel h2 {
	color: var(--color-white);
	background-color: var(--color-brown);
}

.search-hotel p {
	color: var(--color-black);
	font-weight: 700;
}

.search-hotel input {
	font: inherit;
	background-color: var(--color-grey);
	border: 0;
	text-transform: inherit;
}

.search-hotel input::placeholder {
	color: var(--color-black);
}

.search-hotel input:hover {
	background-color: var(--color-aimgrey);
}

.search-hotel input:focus {
	background-color: var(--color-white);
	outline: 2px solid var(--color-focusgrey);
	outline-offset: -2px;
}


/*--------- Footer -----------*/


.main-footer {
	background-color: var(--color-white);
	opacity: 0.9;
	line-height: 26px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: -117px;
}

.contacts {
	font-size: 21px;
	font-weight: 700;
	color: var(--color-black);
	text-align: center;
	margin-bottom: 20px;
}

.contacts p {
	margin: 0;
	margin: 15px;
}

.social-list {
	display: flex;
	list-style: none;
}

.social-list li {
	margin-right: 6px;
}

.social a {
	display: block;
	z-index: 1;
}

.social-button {
	z-index: -1;
	pointer-events: none;
}

.twitter {
	background-color: var(--color-blue);
	padding: 16px 14px 15px 15px;
}

.facebook {
	background-color: var(--color-blue);
	padding: 13px 17px;
}

.youtube {
	background-color: var(--color-blue);
	padding: 16px 13px;
}

.developer {
	vertical-align: top;
}

.developer a {
	color: var(--color-black);
	text-decoration: none;
}


/* Hotels */


.main-filter {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	font-weight: 700;
	color: var(--color-white);
	padding: 28px 70px;
}

.form-wrapper {
	display: flex;
	justify-content: start;
}

.filter-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-filter label {
	font-weight: 400;
}

.filter-border {
	border: none;
}

.filter-type {
	font-size: 16px;
}

.filter-cost {
	margin-left: auto;
}

.button-show {
	background-color: transparent;
	font-weight: 400;
	font-size: 14px;
	border: 2px solid var(--color-white);
	border-radius: 2px;
}

/* Hotel options */

.found {
	font-size: 12px;
}

.found h2 {
	font-size: 21px;
	line-height: 26px;
}

.found-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.found-title {
	margin: 0;
}

.hotels-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotel-item {
	display: flex;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 73px;
	padding-left: 73px;
	flex-direction: row;
	vertical-align: middle;
}

.hotel-link {
	font-size: 21px;
	line-height: 26px;
	text-decoration: none;
	color: inherit;
}

.hotel-title {
	margin: 0;
}

.hotel-type {
	margin: 0;
}

.button-card {
	font-size: 14px;
	line-height: 21px;
	padding: 3px 17px 3px 16px;
}

.rating-wrapper {
	margin-left: auto;
}

.rating {
	background-color: var(--color-grey);
}

